<?php $messages = $this->getMultipleMessages(); ?>
<div class="page-title">
	<h1><?php echo $this->__('Hello World'); ?></h1>
</div>
<div class="content">
    <?php if (count($messages) > 1) : ?>
        <p><?php echo $this->__('The custom messages are:'); ?></p>
        <ul>
        <?php foreach ($messages as $me) : ?>
            <li><?php echo $me; ?></li>
        <?php endforeach; ?>
        </ul>
    <?php else : ?>
        <p><?php echo $this->__('The custom message is:'); ?> <b><?php echo $messages[0]; // BAD PRACTICE ?></b></p>
    <?php endif; ?>
</div>